*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: RGB(26, 28, 40);
    display: flex;
    place-items: center;
    min-height: 100vh;
}
main{
    display: grid;
    grid-template-areas: 
    'a a b'
    'c d d'
    'c e e';
    gap: 20px;
    margin: auto;
    width: 50%;
    grid-template-rows: 300px 1fr ;
}
div{
    padding: 4em;
}
.a{
    background-color: RGB(235, 80, 32);
    grid-area: a;
}
.b{
    background-color: RGB(255, 164, 1);
    grid-area: b;
}
.c{
    background-color: RGB(5, 170, 66);
    grid-area: c;
}
.d{
    background-color: RGB(1, 174, 253);
    grid-area: d;
}
.e{
    background-color: RGB(1, 174, 253);
    grid-area: e;
}
